<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Name" Description="Description" ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <!-- Enabled rules -->
        <Rule Id="SA1025" Action="Error" />
        <Rule Id="SA1027" Action="Error" />
        <Rule Id="SA1028" Action="Error" />
        <Rule Id="SA1518" Action="Error" />
        <!-- Disabled rules -->
        <Rule Id="SA0001" Action="None" />
        <Rule Id="SA1200" Action="None" />
        <Rule Id="SA1600" Action="None" />
        <Rule Id="SA1602" Action="None" />
        <Rule Id="SA1633" Action="None" />
    </Rules>
</RuleSet>
